<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0 fondonuevo">
  <div class="container-fluid d-flex flex-column p-0">
    <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="padding: 0px;">
      <div class="sidebar-brand-icon rotate-n-15"></div>
      <div class="sidebar-brand-text mx-3"><span>sistema inventario</span></div>
    </a>
    <hr class="sidebar-divider my-0">
    <ul class="nav navbar-nav text-light" id="accordionSidebar">
      <!--<li class="nav-item" role="presentation"><a class="nav-link" href="home/dashboard"><i class="fas fa-tachometer-alt"></i><span>Home</span></a></li>-->

      <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/home/productos"><i class="fas fa-table"></i><span>Productos</span></a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" (click)="cerrar()" ><i class="fas fa-table"></i><span>Cerrar Sesion</span></a></li>
      <!--<li class="nav-item" role="presentation"><a class="nav-link" routerLink="/home/ingresos"><i class="fas fa-table"></i><span>Ingresos</span></a></li>
      <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/home/egresos"><i class="fas fa-table"></i><span>Egresos</span></a></li>-->


    </ul>

  </div>
</nav>
